@media (--s) {
  .mobile {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .mobileCircle {
    text-align: left;
    flex-direction: column;
    align-items: start;
    background: none;
    color: "#624633";
  }

  .hidden {
    display: none;
  }


  .text {
      margin: 15px 0;
  }
}

.show {
  display: none;

  @media (--s) {
    display: block;
  }
}
/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Ensure body does not overflow */
body {
  overflow-x: hidden;
}

/* Ensure all elements do not exceed 100% width */
img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

/* Add padding to the body to prevent content from touching the edges */
body {
  padding: 0 16px;
}
.image-container {

  width: 100%;

  >div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  @media (--s) {
    .image {
      object-fit: contain;
      width: 50% !important;
      border-radius: 20px;
      position: relative !important;
      height: unset !important;
      height: auto;
    }
  }
}

